/* Style.css */

@font-face {
    src: url("clock-font.ttf");
}

/*Buttons*/
.start-buttons {
    -fx-padding: 8 15 15 15;
        -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
        -fx-background-color:
                linear-gradient(from 0% 93% to 0% 100%, #8a946c 0%, #8a946c 100%),
                #000000,
                #000000,
                radial-gradient(center 50% 50%, radius 100%, #a9b484, #9fa97d);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
        -fx-font-weight: bold;
        -fx-font-size: 1.3em;
        -fx-text-fill: white;
}
.start-buttons:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #5a6146 0%, #5a6146 100%),
            #2a2929,
            #252424,
            radial-gradient(center 50% 50%, radius 100%, #8a946c 0%, #8a946c);
}
.start-buttons:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Labels*/
#lblName {
    -fx-text-fill: #2a2929;
    -fx-font-family: "DS-Digital";
    -fx-font-size: 50;
}

/*TextFields*/
#txtName {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #8a946c 0%, #8a946c 100%),
            #000000,
            #000000,
            radial-gradient(center 50% 50%, radius 100%, #8ca857, #7c964f);
    -fx-border-width: 5;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "Eras Bold ITC";
    -fx-font-size: 25;
}

/*ListView*/
#listView {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #8a946c 0%, #8a946c 100%),
            #000000,
            #000000,
            radial-gradient(center 50% 50%, radius 100%, #a6c76b, #a6c76b);

    -fx-font-family: "Eras Bold ITC";
    -fx-border-width: 5;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
.list-cell:even {
    -fx-background-color: #a9b484;
    -fx-font-size: 15;
}
.list-cell:odd {
    -fx-background-color: #8a946c;
    -fx-font-size: 15;
}

/*Main-Site: Label-Style*/
.label-style{
    -fx-font-family: "DS-Digital";
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-text-fill: black;
}

.display-style{
    -fx-start-margin: 20;
    -fx-font-size: 25;
    -fx-background-color: #4a7326;
    -fx-border-width: 3;
    -fx-border-color: #19260d;
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -fx-alignment: center;
}

/*VBox + HBox*/
#mainBox{
    -fx-background-color: #a9b484;
}
#smallBox {
    -fx-background: rgba(38,35,35,0.98);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 100, 0, 0, 0);
}