
#smallBox {
    -fx-background: rgba(38,35,35,0.98);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 100, 0, 0, 0);
}

.start-buttons {
    -fx-padding: 8 15 15 15;
        -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
        -fx-background-color:
                linear-gradient(from 0% 93% to 0% 100%, #8a946c 0%, #8a946c 100%),
                #000000,
                #000000,
                radial-gradient(center 50% 50%, radius 100%, #bcc69a, #bcc69a);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
        -fx-font-weight: bold;
        -fx-font-size: 1.3em;
        -fx-text-fill: white;
}

.start-buttons:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #5a6146 0%, #5a6146 100%),
            #2a2929,
            #252424,
            radial-gradient(center 50% 50%, radius 100%, #8a946c 0%, #8a946c);

}

.start-buttons:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}




#lblName {
    -fx-font:44 arial;
}

#textName{
    -fx-font: 24 arial;
}
